$primary-color: #4285f4;
$background-color: #ececec;
$grey-color: #b0b0b0;
$light-grey:#ececec;
$link-color: #1a0dab;
$history-color: purple;

$spacing: 4px;
$spacing-small: $spacing * 2;
$spacing-medium: $spacing * 3;
$spacing-large: $spacing * 4;
$spacing-xlarge: $spacing * 5;
$spacing-2xlarge: $spacing * 10;

$font-size-base: 16px;
$font-size-xsmall: $font-size-base - 4;
$font-size-small: $font-size-base - 2;
$font-size-medium: $font-size-base + 2;
$font-size-large: $font-size-base + 4;
$font-size-xlarge: $font-size-base + 8;

// use black for #000 and white for #fff