@use "../../styles/variables" as *;


.search-bar {
  position: relative;
  width: 40%;

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: $spacing * 6;
    padding: $spacing $spacing-large;
    &.focused {
      border-radius: 25px 25px 0 0;
    }
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: $spacing-medium $spacing-large;
    font-size: $font-size-large;
  }

  .search-input::placeholder {
    color: $grey-color;
  }

  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: $spacing;
    font-size: $font-size-medium;
    display: flex;
    align-items: center;
  }

  .search-button:hover {
    color: black;
  }

  .search-container:focus-within {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }

  .search-input:focus {
    outline: none;
  }

  .autocomplete {
    background-color: white;
    width: 100%;
    position: absolute;
    text-align: left;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 $spacing-xlarge $spacing-xlarge;
    visibility: visible;

    &.hide {
      visibility: hidden;
    }
    > div {
      padding-bottom: $spacing-large;
    }
    .history {
      color: $history-color;
      justify-content: space-between;
    }
    .active {
      background-color: $light-grey;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: $spacing;
        height: 100%;
        background-color: $primary-color;
        left: 0;
        top: 0;
        z-index: 1;
        border-radius: 0 3px 3px 0;
      }
    }
    .autocomplete-item {
      padding: $spacing-small;
      display: flex;
      align-items: center;
      & > div {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .feather {
        margin-left: $spacing-large;
      }
      p {
        margin-left: $spacing-large;
      }
      &:hover {
        background-color: #ececec;
      }
    }
  }
}
