@use '../../styles/variables' as *;
@use "sass:list";

$colors: #ff0000, #ff4000, #ff8000, #ffbf00, #bfff00, #00ff40, #00ffff, #0040ff,
  #8000ff, #bf00ff, #ff00bf, #ff0040, #000000, #808080;

.search-text{
    display: flex;
    font-size: $font-size-large*2;
    margin: 0 10px;
    p {
      @for $i from 1 through list.length($colors) {
        &:nth-child(#{$i}) {
          color: list.nth($colors, $i);
        }
      }
    }
  }